#plan-types {
    padding: 30px 30px 20px 30px;
    margin: auto auto 30px auto;
    border-radius: 30px;
    background-color: white;
}
#plan-types [type="radio"] {
    display: none;
}
#plan-types label {
    display: inline-block;
    padding: 8px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: var(--accent-color-2);
    color: white;
    font-weight: bold;
    border-radius: 30px;
    box-shadow: var(--element-shadow);
    cursor: pointer;
    transition: background-color ease .1s;
}
#plan-types input[type="radio"]:checked+label {
    background-color: var(--bright-color);
}
